
body{
	height: 100%;
	width: 100%;
}
nav{
    position : fixed;
    width:100%;
    height: auto;
    background-color: rgba(0,0,0,.5);
    z-index: 99;
    text-align: center;
}
nav a{
    text-decoration: none;
    margin-left: 30px;
    line-height: 50px;
    color: #fff;
}
.sidebar{
	padding: 10px;
	margin-left: 30px;
	margin-bottom: 30px; 
	border-radius: 10px;
    background-color: rgba(0,0,0,.5);
	height: 100%;
	position: fixed;
	float: left;
	color: #D6D6D6;

}
.demo ul li{
	display: block;
	background-color: #eee;
	color: grey;
}

.demo{ background: #eee;
height: 100%; }

.heading-title{
	margin-top: 50px;
}
.part2{
	float: right;;
	background-color: #D6D6D6;
}

.tab .nav-tabs{
    display: inline-block;
    background: #fff;
    border-radius: 50px;
    border: none;
    padding: 6px;
}

.tab .nav-tabs li{
    float: none;
    display: inline-block;
    position: relative;
}

.tab .nav-tabs li a{
    font-size: 16px;
    font-weight: 700;
    background: none;
    color: #999;
    border: none;
    padding: 10px 15px;
    border-radius: 50px;
    transition: all 0.5s ease 0s;
}

.tab .nav-tabs li a:hover{
    background: #ffa399;
    color: #fff;
    border: none;
}

li a,a:hover,a:focus{
    color:black;
    outline: none;
    text-decoration: none;
}

.tab .nav-tabs li.active a,
.tab .nav-tabs li.active a:focus,
.tab .nav-tabs li.active a:hover{
    border: none;
    background: #ffa399;
    color: #fff;
}
.textarea{
    width:100%;
    font-size:18px;
    color:black;
     height:auto;
    margin-top:20px!important;
    padding: 5px;
    
    border-radius: 8px;
}

.subtab a,.subtab a:hover{text-decoration: none;
    color:black;}
.subtab{
    width:95%;
    height:60px;
    text-decoration: none;
    color:black;
    padding:8px;
    background-color:#C8D0D2;
    margin:15px;
   font-size:16px;
border-left:15px solid #2F5983 ;
border-radius:10px;

}

@media only screen and (max-width: 480px){
    .tab .nav-tabs{
        border-radius: 10px;
    }
    .tab .nav-tabs li{
        width: 100%;
        text-align: center;
        margin-bottom: 5px;
    }
}


.collapsepart{
	margin-left: -30px;
    width: 80%;
}